@import 'node_modules/argo-ui/src/styles/config';

.help-box {
    min-height: 530px;
    margin: 30px 10px;
    padding: 40px 40px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(#000, .3);

    h3 {
        margin: 40px 0 20px;
        font-size: 22px;
    }

    .info-box {
        display: flex;
        flex-direction: row;
    }

    .cluster-box {
        margin-left: 20px;
    }

    .doc-link {
        font-size: 18px;
        font-weight: bold;
    }

    pre {
        background-color: #f1f2f3;
        padding: 18px 12px;
        border-radius: 12px;

        code {
            background: none;
            border: none;
        }
    }

    .dflow-config {
        overflow-x: scroll;
        max-width: 900px;
    }

    .info-values {
        margin-left: 12px;
    }

    .info-key {
        margin-top: 9px;
        width: 240px;
        font-weight: bold;
        margin-top: 3px;
    }

    .info-value {
        margin-top: 3px;
    }
}